{% extends "food_villa/layout.html" %}
{% load static %}

{% block title %}
Food Villa
{% endblock %}


{% block body %}
<div class="header">
    <a href="#default" class="logo">FOOD VILLA</a>
    <div class="header-right">
        <a class="active" href="{% url 'index' %}">Home</a>
        <a href="{% url 'menu' %}">Food Menu</a>
        <a href="{% url 'location' %}">Locate Us</a>
        <a href="{% url 'view_orders' %}">Orders</a>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'food_villa/images/5080739.jpg' %}" class="abc d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
            <img src="{% static 'food_villa/images/3256041.jpg' %}" class="abc d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
            <img src="{% static 'food_villa/images/2644714.jpg' %}" class="abc d-block w-100" alt="..." />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="about-section" id="about">
    <h1 style="font-size: 60px">About Us</h1>
    <p>
        <i>Welcome to the resurant which serves best cusine in the entire
            world.</i>
    </p>
    <p>
        We make the best food fresh by hand every day, we choose the best
        ingredients and all items we use are fresh.<br />
        Everything we make is <strong><i>CRAZY GOOD.</i></strong>
    </p>
</div>
<div id="cards">
    <div class="card" style="width: 25rem">
        <img src="{% static 'food_villa/images/444.jpg' %}" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                Some quick example text to build on the card title and make up the
                bulk of the card's content.
            </p>
        </div>
    </div>

    <div class="card" style="width: 25rem">
        <img src="{% static 'food_villa/images/2221194.jpg' %}" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                Some quick example text to build on the card title and make up the
                bulk of the card's content.
            </p>
           
        </div>
    </div>
    <div class="card" style="width: 25rem">
        <img src="{% static 'food_villa/images/2644714.jpg' %}" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                Some quick example text to build on the card title and make up the
                bulk of the card's content.
            </p>
            
        </div>
    </div>
    <div class="card" style="width: 25rem">
        <img src="{% static 'food_villa/images/3256041.jpg' %}" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                Some quick example text to build on the card title and make up the
                bulk of the card's content.
            </p>
            
        </div>
    </div>
    <div class="card" style="width: 25rem">
        <img src="{% static 'food_villa/images/5080739.jpg' %}" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                Some quick example text to build on the card title and make up the
                bulk of the card's content.
            </p>
            
        </div>
    </div>
    <div class="card" style="width: 25rem">
        <img src="{% static 'food_villa/images/444.jpg' %}" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                Some quick example text to build on the card title and make up the
                bulk of the card's content.
            </p>
           
        </div>
    </div>
</div>

<div class="foodmenu">
    <a href="{% url 'menu' %}" class="btn btn-primary">Go To Food Menu</a>
</div>

<footer>
    <div id="contact">
        <p>
            Mail:<br />
            <a href="mailto:foodvilla@example.com">foodvilla@example.com</a>
        </p>
    </div>
</footer>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'food_villa/user.css'%}">
{% endblock %}


  
   