{% extends "food_villa/layout.html" %}
{% load static %}

{% block title %}
Signup
{% endblock %}

{% block body %}
{% if message %}
<div class="alert alert-primary" role="alert">
    {{message}}
</div>
{% endif %}

<div class="row">
    <div class="container col-10 col-md-8 col-lg-6 mt-5 p-3 signupForm">
        <form action="{% url 'signup'%}" method="POST">
            {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" autocomplete="off" name="username" id="username" class="form-control">
        </div>
        <div class="mb-3">
            <label for="email_id" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email_id" id="email_id" placeholder="name@example.com">
        </div>  
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" >
        </div> 
        <button type="submit" class="btn btn-primary mb-3">Sign up!</button>
        
        <h6><a href="{% url 'login' %}">Click here</a> to login!</h6>
    </form> 
    </div>
</div>

{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'food_villa/form.css'%}">
{% endblock %}